html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: #212121;
}

.main-wrapper {
    width:1480px;
    height: 100%;
    margin: auto;
    background-color: orchid;
    position: relative;
}

section {
    margin:auto;
    /* lo hago en 1366px porque no me da la res de la notebook, no es rebeldía*/
    /* bueno, ok, es obligatorio hacerlo en 1480px, aquí voy */
    width: 1480px;
    text-align: center;
}

div.big {
    margin: 10px auto;
    width:1480px;
    min-height:440px;
    background-image: url('../img/coming-soon.gif');
}

div.newsletter {
    margin-top:40px;
}

.contact {
    background-color: #e2e2e2;
    width: 250px;
    height:30px;
    border: 1px solid black;
}

.accept {
    background-color: #82b1ff;
    border: 1px solid black;
    border-left: 0;
    width: 100px;
    height: 34px;
    color: white;
    font-weight: bold;
}

.social-wrapper {
    background-color: red;
    text-align: right;
}

div.social {
    height: 36px;
    width: 36px;
    display: inline-block;
    margin: 30px 0 30px;
    background-color: #fff;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    font-size: 18px;
}
